<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Practice_Selenium_2023" parallel="false">
  <test name="TestRunnerHomePage">
    <classes>
      <class name="cucumberTest.TestRunnerHomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->